.benefits {
  position: relative;
  text-align: left;
  color: $color-white;
  padding: 12rem 6rem;
  background-image: linear-gradient(105deg,
      $color-green-dark 0,
      $color-green-light 50%,
      transparent 50%),
    url(/img/rosebox-BFdSCxmqvYc-unsplash.jpg);
  background-size: auto 150%;
  background-repeat: no-repeat;
  background-position: right;

  @include respond(tab-port) {
    background-image: linear-gradient(to right,
        rgba($color-green-dark, 0.9),
        rgba($color-green-light, 0.9)),
      url(/img/rosebox-BFdSCxmqvYc-unsplash.jpg);
    background-size: cover;
    text-align: center;
  }

  &__price {
    opacity: 0;
    font-size: 6.2rem;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;

    &--frecuency {
      font-size: 1.8rem;
      display: block;
      text-align: center;
      font-weight: 200;
    }
  }

  &__title {
    opacity: 0;
    font-size: 3.5rem;
    margin-top: 6rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3rem;
    line-height: 1.2;
  }

  &__list {
    margin-top: 3rem;
    padding-left: 5rem;
    margin-bottom: 4rem;

    @include respond(tab-port) {
      padding-left: 0;
      list-style: none;
    }
  }

  &__item {
    opacity: 0;
    font-size: 2rem;
    font-weight: 300;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    margin-top: 7rem;
  }

  &____img-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $color-grey-light-1;
  }
}

/* Animations */
.section-benefits.actived .benefits__price,
.section-benefits.actived .benefits__title {
  @include animation('toRight 1s ease-in-out forwards');
  animation-delay: calc(var(--order) * 200ms);
}

.section-benefits.actived .benefits__item {
  @include animation('toLeft 1s ease-in-out forwards');
  animation-delay: calc(var(--order) * 200ms);
}

.section-benefits.actived .btn {
  opacity: 0;
  @include animation('Up 1s ease-in-out forwards');
  animation-delay: calc(var(--order) * 200ms);
}
