.newsletter {
  padding: 12rem 6rem;
  transform: skewY(3deg);
  text-align: center;

  &__title {
    position: relative;
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;

    @include respond(phone) {
      line-height: 1.2;
      padding-bottom: 2rem;
    }

    &::after {
      @include absCenter;
      content: "";
      position: absolute;
      display: inline-block;
      width: 8%;
      height: 5px;
      top: 6.5rem;
      border-radius: 10rem;
      background-color: $color-white;

      @include respond(phone) {
        top: 9.5rem;
      }
    }
  }

  &__email {
    width: 60rem;
    height: 6rem;
    font-size: 1.8rem;
    color: $color-grey-dark-1;
    outline: none;
    margin: 2rem auto 4rem auto;
    display: block;
    border-radius: 1000px;
    border: none;
    padding: 2rem 4rem;
    transition: all 0.2s;
    
    @include respond(phone) {
      width: 35rem;
    }

    &:active,
    &:focus {
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      transform: translateY(-3px);
    }
  }
}
