.team {
  text-align: center;

  &__employee {
    opacity: 0;
    padding: 4rem 2rem;

    &--img {
        width: 25rem;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
    }

    &--name{
        display: none;
    }
  }

  &__charge {
    opacity: 0;
  }
}

/* Animations */
.section-team.actived .team__employee {
  @include animation('Up 1s ease-in-out forwards');
  animation-delay: calc(var(--order) * 200ms);
}

.section-team.actived .team__charge {
  @include animation('Up 1s ease-in-out forwards');
  animation-delay: calc(var(--order) * 200ms);
}
